doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        block title
            title Create Account
        link(href="node_modules/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet",media="all")
        link(href="node_modules/foundation-sites/dist/foundation.min.css",rel="stylesheet",media="all")
        link(href="node_modules/foundation-sites/dist/foundation-flex.min.css",rel="stylesheet",media="all")
        link(href="css/create-acc.css",rel="stylesheet",media="all")
    body
        div.divCreateAccount
            div.progress-indicator
                div.fl-lt
                    div.first-step
                    div Look
                div.fl-lt
                    div.separator
                div.fl-lt
                    div.second-step
                    div Event
                div.fl-lt
                    div.separator
                div.fl-lt
                    div.third-step
                    div Size
                div.fl-lt
                    div.separator
                div.fl-lt
                    div.fourth-step
                    div Order
                div.clear
            div.divUserDet
                div.alert.alert-danger.hide(role="alert")
                    span(Class="glyphicon glyphicon-exclamation-sign",aria-hidden="true")
                    span.sr-only Error
                    span.error-msg

                h1 Create an account to continue
                div.mbtm-15 Already have an account?. SIGN IN HERE

                form#formCreateAcc.formCreateAcc(action="",name="formCreateAcc")
                    input(placeholder="First Name",id="txtFirstName",type="text")
                    input(placeholder="Last Name",id="txtLastName",type="text")
                    input(placeholder="Email Address",id="txtEmailAdd",type="email")
                    input(placeholder="Password",id="txtPassword",type="password")
                    input(placeholder="Password Again",id="txtConfPassword",type="password")

                    div
                        input(type="checkbox",name="chkEmailMe",id="chkEmailMe",checked)
                        label(for="chkEmailMe") Email me about exclusive sales and promotions

                    div
                        input(type="checkbox",name="chkTextMe",id="chkTextMe")
                        label(for="chkTextMe") Text me about exclusive sales and promotions
                        div.hide#divMobileNumber
                            label(for="txtPhoneNumber") Mobile Number
                            input(type="tel",name="txtPhoneNumber",id="txtPhoneNumber")

                    div
                        input(type="checkbox",name="chkJoinPF",id="chkJoinPF")
                        label(for="chkJoinPF") I would like to join the PerfectFit program to get $30 off my reservation <i class="glyphicon glyphicon-info-sign"></i>

                    div.continue-btn
                        button(type="button",class="button secondary",id="btnContinue") Continue


        script(src="node_modules/jquery/dist/jquery.min.js")
        script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="node_modules/foundation-sites/dist/foundation.min.js")
        script(src="min/create-acc-min.js")
        script $(document).foundation();